@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700&display=swap');

:root {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    --blue: #0065FC;
    --lighter-blue: #DEEBFF;
    --gray: #F2F2F2;
}
a {
    color: inherit;
    text-decoration: none;
    cursor: pointer;
}
li {
    list-style: none;
}
body {
    max-width: 1440px;
    margin: auto;
    font-family: "Raleway", sans-serif;
}
.main-block {
    margin-left: 30px;
}

/******* HEADER *******/

.nav-bar {
    display: flex;
    flex-direction: row;   
}

.logo {
    margin-top: 25px;
}

nav ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    list-style: none;
    margin-left: 40vw;
}

nav ul li {
    padding: 25px;
    font-weight: 500;
}

.hosting-link {
    color: var(--blue);
    border-top: 3px solid var(--blue);
}
.activities-link {
    border-top: 3px solid white;
}
.activities-link:hover {
    border-top: 3px solid var(--blue);
    color: var(--blue);
}
.sign-up {
    color: var(--blue);
    font-weight: 600;
}


/******SEARCH SECTION **********/
.search-section {
    margin-top: 30px;
}
form {
    display: flex;
    flex-direction: row;
}

.marker-container{
    width: 4rem;
    height: 3.5rem;
    background-color: var(--gray);
    border-radius: 15px 0 0 15px;   
    display: flex;
    align-items: center;
    justify-content: center;
}

.text-input {
    height: 3.9em;
    padding-left: 10px;
    border: 1px solid var(--gray);
}
    .text-input::placeholder {
        font-family: "Raleway", sans-serif;
        font-size: 15px;
        font-weight: 700;
        color: #000;
    }

.search-btn {
    width: 8em;
    height: 3.7em;
    margin-left: 0px;
    color: #fff;
    background-color: #0065fc;
    border: none;
    border-radius: 0 15px 15px 0;
    font-family: "Raleway", sans-serif;
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
}

.filters {
    display: flex;
    flex-wrap: wrap;
    margin-top: 35px;
}

.filter-title {
    margin-top: 15px;
    margin-right: 15px;
}
.eco:hover, .family:hover, .romantic:hover, .pet:hover {
    transform: scale(1.02);
}
.fa-money-bill-wave, .fa-child, .fa-heart, .fa-dog {
    color: var(--blue);
}

.icon-wrapper {
    background-color: var(--lighter-blue);
    border-radius: 100%;
    width: 3rem;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: -50px;
    position: absolute;
}

.filter-btn  {
    height: 3rem;
    font-weight: 600;
    padding: 12px 5px 12px 40px;
    background-color: #fff;
    border: 3px solid var(--gray);
    border-radius: 30px;
    cursor: pointer;
    margin-right: 25px;
}
.eco-btn {
    width: 10rem;
}

.family-btn {
    width: 8rem;
}
.romantic-btn {
    width: 9rem;
}
.pet-btn {
    width: 12rem;
}
.eco-btn:hover, .family-btn:hover, .romantic-btn:hover, .pet-btn:hover {
    background-color: var(--gray);
}

.info {
    margin-top: 15px;
    display: flex;
    flex-direction: row;
}
.info-btn {
    color: var(--blue);
    background-color: #fff;
    margin-top: 10px;
    text-align: center;
    
    border: 1px solid var(--gray);
    border-radius: 30px;
    position: absolute;
}

.info-text {
    margin-top: 12px;
    margin-left: 25px;
}
/******* HOST SECTION *******/

.marseille-host {
    width: 50rem;
    height: 40rem;
    background-color: var(--gray);
    margin-top: 25px;
    margin-right: 30px;
    padding-left: 25px;
    border-radius: 15px;
}
.card-container {
    margin-top: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 15rem;
    grid-gap: 12px;

}

.host {
    display: flex;
    flex-direction: row;
}

.host-card {
    background-color: #fff;
    max-width: 14rem;
    height: 12rem;
    margin: 12px;
    padding: 3px;
    border-radius: 18px;
    cursor: pointer;
}
    .host-card:hover {
       transform: scale(1.05);
    }
    
.host-img {
    width: 14rem;
    height: 6rem;   
    border-radius: 16px 16px 0 0;
    object-fit: cover;
    overflow: hidden;
}

h3 {
    font-size: 15px;
    font-weight: 700;
    margin-top: 0;
}

p {
    font-size: 15px;
    font-weight: 400;
    margin-top: -8px;
    margin-left: 8px;
}
.fa-star[data-active="true"] {
    color: var(--blue);
}
.fa-star[data-active="false"] {
    color: lightgray;
}

.popular {
    background-color: var(--gray);
    width: 20rem;
    height: 40rem;
    margin-top: 25px;
    border-radius: 15px;
    
}
.popular-title {
    display: flex;
    flex-direction: row;
    margin-left: 12px;
}
.fa-chart-line {
    margin-top: 30px;
    margin-left: 40px;
}

.popular-card-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
}

.popular-card {
    width: 17rem;
    height: 8rem;
    margin-top: 25px;
    background-color: #fff;
    border-radius: 15px;
    display: flex;
    flex-direction: row;
    overflow: hidden;
    cursor: pointer;
}

/*.popular-img-container {
    height: 7rem;
    width: 7rem;
    margin: 3px;
    border-radius: 16px 0 0 16px;
    overflow: hidden;
}*/
.popular-img {
    margin: 3px;
    width: 7.5rem;
    height: 7.5rem;
    object-fit: cover;
    overflow: hidden;
}

h2 {
    margin-top: 35px;
}


/******** Activity section *********/

.activity-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 5rem 5rem 5rem 5rem 5rem 5rem;
    grid-column-gap: 20px;

}
.activity-card {
    background-color: #fff;
    max-width: 30rem;
    border-radius: 15px;
    box-shadow: 0 0 20px #000;
    overflow: hidden;
}

.activity1 {
    grid-row: 1/7;
}
.activity2 { 
    grid-row: 1/4;
}
.activity3 {
    grid-row: 5/7;
}
.activity4 {
    grid-row: 1/7;
}
.activity5 {
    grid-row: 1/3;
}
.activity6 {
    grid-row: 4/7;
}
.activity-location {
    height: 3rem;
}
.activity1 img {
    max-height: 90%;
    object-fit: cover;
}
.activity2 img {
    max-height: 85%;
    width: 100%;
    object-fit: cover;
}
.activity3 img {
    max-height: 55%;
    width: 100%;
    object-fit: cover;
}
/******** FOOTER ********/

footer {
    margin-top: 60px;
    padding-left: 3rem;
    height: 12rem;
    width: 100%;
    display: flex;
    background-color: var(--gray);
    font-weight: 500;
    font-size: 14px;
}

.footer-column {
    display: flex;
    flex-direction: column;
    line-height: 25px;
    margin-top: 30px;
    margin-right: 10rem;
}

footer a:hover {
    text-decoration: underline;
}

/****** RESPONSIVE ******/

@media only screen and (max-width: 1440px) {
    body {
      width: 100%;
    }
  }