@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700&display=swap');

:root {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    --blue: #0065FC;
    --lighter-blue: #DEEBFF;
    --gray: #F2F2F2;
}
a {
    color: inherit;
    text-decoration: none;
    cursor: pointer;
}
li {
    list-style: none;
}
body {
    max-width: 1440px;
    margin: auto;
    font-family: "Raleway", sans-serif;
}
.main-block {
    margin-left: 1rem;
}

/******* HEADER *******/

.nav-bar {
    display: flex;
    flex-direction: row;   
}

.logo {
    margin-top: 25px;
}

nav ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    list-style: none;
    margin-left: 40vw;
}

nav ul li {
    padding: 25px;
    font-weight: 500;
}

.hosting-link {
    color: var(--blue);
    border-top: 3px solid var(--blue);
}
.activities-link {
    border-top: 3px solid white;
}
.activities-link:hover {
    border-top: 3px solid var(--blue);
    color: var(--blue);
}
.sign-up {
    color: var(--blue);
    font-weight: 600;
}


/******SEARCH SECTION **********/
.search-section {
    margin-top: 30px;
}
form {
    display: flex;
    flex-direction: row;
}

.marker-container{
    width: 4rem;
    height: 3.5rem;
    background-color: var(--gray);
    border-radius: 15px 0 0 15px;   
    display: flex;
    align-items: center;
    justify-content: center;
}

.text-input {
    height: 3.9em;
    padding-left: 10px;
    border: 1px solid var(--gray);
}
    .text-input::placeholder {
        font-family: "Raleway", sans-serif;
        font-size: 15px;
        font-weight: 700;
        color: #000;
    }

.search-btn {
    width: 8em;
    height: 3.7em;
    margin-left: 0px;
    color: #fff;
    background-color: #0065fc;
    border: none;
    border-radius: 0 15px 15px 0;
    font-family: "Raleway", sans-serif;
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
}
.search-icon {
    display: none;
}
.filters {
    display: flex;
    flex-wrap: wrap;
    margin-top: 35px;
}

.filter-title {
    margin-top: 15px;
    margin-right: 15px;
}
.eco:hover, .family:hover, .romantic:hover, .pet:hover {
    transform: scale(1.02);
}
.fa-money-bill-wave, .fa-child, .fa-heart, .fa-dog {
    color: var(--blue);
}

.icon-wrapper {
    background-color: var(--lighter-blue);
    border-radius: 100%;
    width: 3rem;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: -50px;
    position: absolute;
}

.filter-btn  {
    height: 3rem;
    font-weight: 600;
    padding: 12px 5px 12px 40px;
    background-color: #fff;
    border: 3px solid var(--gray);
    border-radius: 30px;
    cursor: pointer;
    margin-right: 25px;
}
.eco-btn {
    width: 10rem;
}

.family-btn {
    width: 8rem;
}
.romantic-btn {
    width: 9rem;
}
.pet-btn {
    width: 12rem;
}
.eco-btn:hover, .family-btn:hover, .romantic-btn:hover, .pet-btn:hover {
    background-color: var(--gray);
}
.eco, .family, .romantic, .pet {
    margin-bottom: 12px;
}
.info {
    margin-top: 15px;
    display: flex;
    flex-direction: row;
}
.info-btn {
    color: var(--blue);
    background-color: #fff;
    margin-top: 10px;
    text-align: center;
    
    border: 1px solid var(--gray);
    border-radius: 30px;
    position: absolute;
}

.info-text {
    margin-top: 12px;
    margin-left: 25px;
}
/******* HOST SECTION *******/

.host {
    display: flex;
    flex-direction: row;
}

.marseille-host {
    width: 100%;
    height: 40rem;
    background-color: var(--gray);
    margin-top: 25px;
    margin-right: 30px;
    border-radius: 15px;
}
.card-container {
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(3, 33%);
    grid-template-rows: 14rem;
    grid-gap: 5px;
}

.host-card {
    background-color: #fff;
    max-width: 15rem;
    height: 12rem;
    margin: 12px;
    padding: 3px;
    border-radius: 18px;
    box-shadow: 0 0 9px #000000e2;
    cursor: pointer;
}
    .host-card:hover {
       transform: scale(1.05);
    }
    
.host-img {
    width: 100%;
    height: 6rem;   
    border-radius: 16px 16px 0 0;
    object-fit: cover;
    overflow: hidden;
}

h3 {
    font-size: 15px;
    font-weight: 700;
    margin-top: 0;
}

.show-more {
    font-weight: 600;
    margin-left: 18px;
    margin-top: 15px;
    cursor: pointer;
}
.fa-star[data-active="true"] {
    color: var(--blue);
}
.fa-star[data-active="false"] {
    color: lightgray;
}

.description-card {
    margin-left: 0.5rem;
    margin-top: 0.5rem;
    line-height: 1rem;
    font-size: 15px;
    font-weight: 400;
}
.popular {
    background-color: var(--gray);
    width: 35%;
    height: 40rem;
    margin-top: 25px;
    border-radius: 15px;   
}
.popular-title {
    display: flex;
    flex-direction: row;
    margin-left: 12px;
}
.fa-chart-line {
    margin-top: 43px;
    margin-left: 40px;
}

.popular-card-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    
}

.popular-card {
    width: 17rem;
    height: 8rem;
    margin-top: 25px;
    margin-left: 2rem;
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 0 4px #000;
    display: flex;
    flex-direction: row;
    overflow: hidden;
    cursor: pointer;
}

.popular-img {
    margin: 3px;
    width: 7.5rem;
    height: 7.5rem;
    object-fit: cover;
    border-radius: 15px;
    overflow: hidden;
}

h2 {
    margin-top: 35px;
}


/******** Activity section *********/
.activity-section {
    margin-top: 2rem;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto 14rem 2rem 2rem 2rem 14rem;
    column-gap: 2rem;
    border: 1px solid black;
}

.activity-card {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: 1rem;
    box-shadow: 0 0 20px #000000;
    overflow: hidden;
    cursor: pointer;
}
    .activity-card:hover {
        transform: scale(1.02);
    }
.activity-card-title {
    width: 90%;
    height: 3rem;
    padding: 10px 1rem;
    background-color: #fff;  
}
.activity-card-wrapper {
    position: relative;
    flex: 1;
}
.activity-card-wrapper img {
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.activity1 {
    grid-column: 1/2;
    grid-row: 2/7;
}

.activity2 {
    grid-column: 2/3;
    grid-row: 2/5;
}

.activity3 {
    grid-column: 2/3;
    grid-row: 6/7;
}

.activity4 {
    grid-column: 3/4;
    grid-row: 2/7;
}

.activity5 {
    grid-column: 4/5;
    grid-row: 2/3;
}

.activity6 {
    grid-column: 4/5;
    grid-row: 4/7;
}


/******** FOOTER ********/

footer {
    margin-top: 60px;
    padding-left: 3rem;
    height: 12rem;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 33%);
    background-color: var(--gray);
    font-weight: 500;
    font-size: 14px;
}

.footer-column {
    display: flex;
    flex-direction: column;
    line-height: 25px;
    margin-top: 30px;
    
}

footer a:hover {
    text-decoration: underline;
}

/****** RESPONSIVE ******/

@media only screen and (max-width: 1440px) {
    body {
      width: 100%;
    }
  }

@media only screen and (max-width: 920px) {
    
    .host {
        flex-direction: column-reverse;
    }
    .marseille-host {
        width: 100%;
        height: 52rem;
    }
    .card-container {
        grid-template-columns: repeat(2, 50%);
    }
    .host-card {
        max-width: 100%;
    }

    .popular {
        width: 100%;
    }
    .popular-card {
        width: 100%;
    }

}
@media only screen and (max-width: 700px) {
    .activity-section{
        grid-template-columns: repeat(2, 50%);
        grid-template-rows: repeat(3, 13rem);
        row-gap: 2.5rem;
    }
    .activity-card {
        width: 100%;
    }
    .activity2 {
        grid-column: 2/3;
        grid-row: 1/2;
    }
    .activity3 {
        grid-column: 1/2;
        grid-row: 2/3;
    }
.activity4 {
    grid-column: 2/3;
    grid-row: 2/3;
}
.activity5 {
    grid-column: 1/2;
    grid-row: 3/4;
    
}
.activity6 {
    grid-column: 2/3;
    grid-row: 3/4;
}
    footer {
        grid-template-columns: 100%;
        grid-template-rows: repeat(3, 8rem);
        height: 24rem;
    }
    .footer-column {
        margin-top: 10px;
    }
    .host-column {
        margin-top: 10px;
    }
    .help-column {
        margin-top: 0px;
    }
}
@media only screen and (max-width: 400px) {
    .main-block {
        margin-left: 0;
    }
    form {
        justify-content: center;
    }
    .search-txt {
        display: none;
    }
    .search-icon {
        display: block;
    }
    .search-btn {
        margin-left: -12px;
        width: 3.5rem;
        border-radius: 12px;
    }
    .marseille-host {
        background-color: #fff;
    }
    .card-container {
        grid-template-columns: 100%;
    }
    .popular {
        border-radius: 0;
    }
    .activities-section {
        margin-top: 800px;
    }
    
}