@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700&display=swap');

:root {
    box-sizing: border-box;
    --blue: #0065FC;
    --lighter-blue: #DEEBFF;
    --gray: #F2F2F2;
}
a {
    color: inherit;
    text-decoration: none;
    cursor: pointer;
}
body {
    padding: 0;
    margin: 0;
    font-family: "Raleway", sans-serif;
}
#main {
    max-width: 1440px;
    margin: auto;
}
@media (max-width: 600px) {
    body {
        margin-left: 0;
        margin-right: 0;
    }
}
/***************************** HEADER*************************************/

header {
    display: flex;
    justify-content: space-between;
    max-width: 1440px;
    margin:auto;
    overflow: hidden;
}
.logo {
    margin-left: 1.5rem;
}
.nav-links {
    display: flex;
    flex-direction: row;  
    align-items: center;
}
.nav {
    display: flex;
    flex-direction: row;
}
.hosting-link {
    color: var(--blue);
    border-top: 3px solid var(--blue);
    padding: 1.5rem;
}
.activity-link {
    border-top: 3px solid transparent;
    padding: 1.5rem;
}
.activity-link:hover {
    border-top: 3px solid var(--blue);
    color: var(--blue);
}
.sign-up {
    color: var(--blue);
    font-weight: 600;
    margin-left: 1.5rem;
}
@media (max-width: 600px) {
    header {
        margin-left: 0;
    }
    .logo {
        margin-left: 1rem;
    }
    .sign-up {
        margin-top: 1.5rem;
        margin-left: auto;
        margin-right: 5%;
        order: 0;
    }
    .nav-links {
        position: absolute;
        flex-direction: column;
        text-align: center;
        width: 100%;
    }
    .nav {
        width: 100%;
        order: 1;
    }
    .hosting-link {
        width: 100%;
        grid-area: nav-links;
        border-top: none;
        border-bottom: 3px solid var(--blue);
    }
    .activity-link {
        width: 100%;
        border-bottom: 3px solid var(--gray);
        border-top: none;
    }
    .activity-link:hover {
        border-top: none;
        border-bottom: 3px solid var(--blue);
    }
}
@media (max-width: 400px) {
    .sign-up {
        margin-left: 77%;
    }
}
/***************************** SEARCH SECTION ****************************/

.search-section {
    margin-top: 2rem;
    margin-left: 1.5rem;
}
form {
    display: flex;
    flex-direction: row;
    margin-right: 1rem;
}
.marker-wrapper{
    width: 3.5rem;
    height: 3.5rem;
    background-color: var(--gray);
    border-radius: 15px 0 0 15px;   
    display: flex;
    align-items: center;
    justify-content: center;
}
.search-input {
    height: 3.9em;
    width: 15em;
    padding-left: 10px;
    border: 1px solid var(--gray);
}
    .search-input::placeholder {
        font-family: "Raleway", sans-serif;
        font-size: 1rem;
        font-weight: 700;
        color: #000;
    }
.search-btn {
    width: 8em;
    height: 3.7em;
    color: #fff;
    background-color: #0065fc;
    border: none;
    border-radius: 0 15px 15px 0;
    font-family: "Raleway", sans-serif;
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
}
.search-icon {
    display: none;
}
.filters {
    display: flex;
    flex-wrap: wrap;
    margin-top: 2rem;
}
.filter-title {
    margin-top: 15px;
    margin-right: 15px;
}
.icon-filter {
    color: var(--blue);
}
.icon-wrapper {
    background-color: var(--lighter-blue);
    border-radius: 100%;
    width: 3rem;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: -50px;
    position: absolute;
}
.filter-btn  {
    height: 3rem;
    font-weight: 600;
    padding: 12px 5px 12px 40px;
    background-color: #fff;
    border: 3px solid var(--gray);
    border-radius: 30px;
    cursor: pointer;
    margin-right: 1rem;
}
.eco-btn {
    width: 10rem;
}
.family-btn {
    width: 8rem;
}
.romantic-btn {
    width: 9rem;
}
.pet-btn {
    width: 12rem;
}
.eco-btn:hover, .family-btn:hover, .romantic-btn:hover, .pet-btn:hover {
    background-color: var(--gray);
}
.eco:hover, .family:hover, .romantic:hover, .pet:hover {
    transform: scale(1.02);
}
.eco, .family, .romantic, .pet {
    margin-bottom: 12px;
}
.info {
    margin-top: 15px;
    display: flex;
    flex-direction: row;
}
.info-btn {
    color: var(--blue);
    background-color: #fff;
    margin-top: 10px;
    text-align: center;   
    border: 1px solid var(--gray);
    border-radius: 30px;
    position: absolute;
}
.info-text {
    margin-top: 12px;
    margin-left: 25px;
}
@media (max-width: 600px) {
    .search-section {
        margin-top: 6rem;
        margin-left: 1.5rem;
    }
}
@media (max-width: 420px){
    .search-icon {
        display: block;
    }
    .search-txt {
        display: none;
    }
    .search-btn {
        width: 3.7rem;
        margin-left: -1rem;
        border-radius: 1rem;
    }
    .filter-title {
        width: 100%;
    }
}

/***************************** HOST SECTION ****************************/

.host-section {
    display: flex;
    flex-direction: row;
}
.host-panel {
    display: grid;
    grid-gap: 2rem;
    width: 97%;
    background-color: var(--gray);
    border-radius: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
}
.host-title {
    grid-column: 1/-1;
    margin-left: 1%;
}
.host-card {
    display: flex;
    flex-direction: column;
    border-radius: 1rem;
    box-shadow: 0 0 8px 2px #000;
    overflow: hidden;
    cursor: pointer;
}
    .host-card:hover {
        transform: scale(1.02);
    }
.host-card-img-wrapper {
    position: relative;
    height: 9rem;
    border: 4px solid white;
    overflow: hidden;
}
.host-card-description {
    height: 6rem;
    background-color: #fff;
    line-height: 0.5rem;
    padding-left: 1rem;
}
.host-img {
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 1rem 1rem 0 0;
    overflow: hidden;
}
.show-more {
    grid-row: 4/5;
    font-weight: bold;
    margin-left: 5%;
}
@media (max-width: 1213px) {
    .resize-title {
        margin-top: 0px;
        line-height: 16px;
    }
}
@media (min-width: 1101px) {
    .host-panel {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto 15rem 15rem auto;   
    }
    .host-card1 {
        grid-column: 1/2;
        grid-row: 2/3;
    }
    .host-card2 {
        grid-column: 2/3;
        grid-row: 2/3;
    }
    .host-card3 {
        grid-column: 3/4;
        grid-row: 2/3;
    }
    .host-card4 {
        grid-column: 1/2;
        grid-row: 3/4;
    }
    .host-card5 {
        grid-column: 2/3;
        grid-row: 3/4;
    }
    .host-card6 {
        grid-column: 3/4;
        grid-row: 3/4;
    }  
}
@media (max-width: 1100px) {
    .host-panel {
        width: auto;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto 15rem 15rem 15rem auto;
        background-color: #fff;
        margin: 0;
    }
    .show-more {
        grid-row: 5/6;
    }
}
@media (max-width: 600px) {
    .host-panel {
        grid-template-columns: 1fr;
        grid-template-rows: auto 15rem 15rem 15rem 15rem 15rem 15rem auto;
        margin: 0;
        padding: 0.6rem;
    }
    .host-title {
        margin-left: 2%;
    }
    .show-more {
        grid-row: 8/9;
        margin-left: 1.5rem;
    }
}
.popular-panel {
    background-color: var(--gray);
    margin-left: 2.5rem;
    padding-bottom: 2.5rem;
    border-radius: 15px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 10rem 10rem 10rem ;
    row-gap: 2rem;
}
.popular-panel-title {
    grid-row : 1/2;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    margin: 0 1rem;
}
.popular-host-card {
    margin: 0 1rem;
    background-color: #fff;
    border-radius: 1rem;
    box-shadow: 0 0 4px #000;
    display: flex;
    flex-direction: row;
    overflow: hidden;
    cursor: pointer;
}
    .popular-host-card:hover {
        transform: scale(1.02);
    }
.popular-host-card-img-wrapper {
    display: flex;
    align-items: center;
    position: relative;
    min-height: 100%;
    min-width: 40%;
    max-width: 40%;
    border: 4px solid #fff;
    overflow: hidden;
}
.popular-host-img {
    width: 9.2rem;
    height: 9.2rem;
    object-fit: cover;
    border-radius: 1rem 0 0 1rem;
    overflow: hidden;
}
.popular-host-card-description {
    margin-left: 8px;
}
.popular-card-price {
    margin-top: -1rem;
    margin-bottom: 2.5rem;
}
.popular-card1 {
    grid-row: 2/3;
}
.popular-card2 {
    grid-row: 3/4;
}
.popular-card3 {
    grid-row: 4/5;
}
.fa-star[data-active="true"] {
    color: var(--blue);
}
.fa-star[data-active="false"] {
    color: lightgray;
}
@media (max-width: 1100px) {
    .host-section {
        flex-direction: column-reverse;
    }
    .popular-panel {
        margin: 2rem 0 2rem 0;
        border-radius: 0;
    }
    .popular-host-card-description {
        margin-left: 0;
    }
    .popular-host-img {
        width: 100%;
    }
}
@media (max-width: 600px) {
    .popular-host-card-img-wrapper {
        min-width: 40%;
    }
}

/**************************ACTIVITY SECTION *************************/

.activity-section {
    margin-top: 1.5rem;
    display: grid;
    column-gap: 2rem;    
}
.activity-title {
    grid-column: 1/-1;
    margin-left: 2.5%;
}
.activity-card {
    display: flex;
    flex-direction: column;
    width: 95%;
    margin-left: 2.5%;
    background-color: #fff;
    border-radius: 1rem;
    box-shadow: 0 0 10px #000000;
    overflow: hidden;
    cursor: pointer;
}
    .activity-card:hover {
        transform: scale(1.02);
    }
.activity-card-title {
    display: flex;
    align-items: center;
    height: 3rem;
    margin-left: 1rem;
}
.activity-card-wrapper {
    position: relative;
    flex: 1;
}
.activity-img {
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
}
@media (min-width: 1100px) {
    .activity-section {
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: auto 14rem 2rem 2rem 2rem 14rem;
    }
  .activity1 {
      grid-column: 1/2;
      grid-row: 2/7;
  }
  .activity2 {
      grid-column: 2/3;
      grid-row: 2/5;
  }  
  .activity3 {
      grid-column: 2/3;
      grid-row: 6/7;
  }  
  .activity4 {
      grid-column: 3/4;
      grid-row: 2/7;
  }  
  .activity5 {
      grid-column: 4/5;
      grid-row: 2/3;
  }  
  .activity6 {
      grid-column: 4/5;
      grid-row: 4/7;
  }
}
@media only screen and (max-width:1100px) {
    .activity-section {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto 12rem 12rem 12rem;
        row-gap: 2rem;
    }
}
@media only screen and (max-width: 600px) {
    .activity-section {
        margin-top: 0;
        grid-template-columns: 1fr;
        grid-template-rows: auto 13rem 13rem 13rem 13rem 13rem 13rem;
    }
    .activity-title {
        margin-bottom: -1rem;
    }
}

/*****************************FOOTER************************/

footer {
    margin-top: 3rem;
    padding-left: 2rem;
    padding-bottom: 2rem;
    display: grid;
    grid-template-columns: auto 1fr 1fr 1fr;
    background-color: var(--gray);
    font-weight: 500;
    font-size: 14px;
}
.footer-column {
    display: flex;
    flex-direction: column;
    line-height: 25px;
    margin-top: 30px;
    margin-left:7rem;
    box-sizing: border-box;
}
footer a:hover {
    text-decoration: underline;
}
.footer-title {
    font-size: 1rem;
    font-weight: bold;
}
@media only screen and (max-width: 1440px) {
    .about-column {
        margin-left: 0.5rem;
    }
}
@media only screen and (max-width: 800px) {
    footer {
        grid-template-columns: repeat(2, 50%);
    }
    .help-column {
        margin-left: 0.5rem;
    }
}
@media only screen and (max-width: 600px) {
    footer {
        grid-template-columns: 1fr;
    }
    .host-column {
        margin-left: 0.5rem;
    }
}